/* Base Styles */
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
  padding: 0px 40px;
  color: #4A4B51;
  font-size: 14px;
  font-weight: 500;
  border-radius: 24px;
  box-shadow: 0px 4px 50px 0px #00000008;
  border: 1px solid #DCDDDF;
}

.header {
  display: flex;
  gap: 1rem;
  padding: 1.2rem 0;
  align-items: center;
  border-bottom: 1px solid #DCDDDF;
  color: #38393D;
  font-size: 20px;
}

.section {
  margin-bottom: 20px;
  position: relative;
}

.inputGroup {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.inputGroup input,
.inputGroup select {
  padding: 15px 20px;
  border: 1px solid #DCDDDF;
  border-radius: 24px;
  font-size: 14px;
  outline: none;
  color: #4A4B51;
}

.inputGroup label {
  margin-bottom: 5px;
  color: #717279;
}

.inputGroup p{
    margin-top: 10px;
}
.passwordWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.passwordInput {
  width: 100%;
  padding-right: 2.5rem;
}

.eyeIcon {
  position: absolute;
  right: 0.5rem;
  color: #7d7d7d;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.passwordStrength {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
  width: 100%;
}

.passwordStrengthCtn {
  width: 100%;
  display: flex;
  align-items: center;
}

.strengthText {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.strengthSegment {
  width: 20%;
  height: 5px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.passwordError {
  color: red;
  margin-top: 10px;
}

.submitButton {
  padding: 12px;
  background-color: var(--armaniGreen);
  color: white;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  width: 30%;
}

/* Mobile and Tablet Responsiveness */



@media (max-width: 768px) {
  .form {
    padding: 0px;
    margin: 10px 0px;
  }

 .header {
    flex-direction: row;
    gap: 1rem;
    padding: 12px 2px;
    text-align: center;
  }

 
  .section {
    margin-bottom: 15px;
  }

  .inputGroup input,
  .inputGroup select {
  padding: 10px 16px;
    font-size: 13px;
  }

  .inputGroup label {
    font-size: 13px;
  }

  .passwordWrapper {
    margin-bottom: 15px;
  }

  .passwordInput {
    padding-right: 2rem;
  }

  .eyeIcon {
    right: 0.3rem;
  }

  .passwordStrength {
    gap: 3px;
  }

  .passwordStrengthCtn {
    flex-direction: column;
    align-items: flex-start;
  }

  .strengthText {
    font-size: 13px;
  }

  .strengthSegment {
    height: 4px;
  }

  .passwordError {
    font-size: 12px;
  }

  .submitButton {
    width: 100%;
    padding: 14px;
    font-size: 16px;
  }
}

@media (max-width: 480px) {

    .form {
    padding: 0px;
    margin: 10px 0px;
     box-shadow: none;
  border: none;
  }

  .section {

  border: none;

  box-shadow: none;
  padding:0.5rem  0rem;
  border-radius: 0px;
    border: none;}

  .header {
    font-size: 16px;
    padding: 0.8rem 0;
  }

  .inputGroup input,
  .inputGroup select {
    padding: 14px 16px;
    font-size: 12px;
  }

  .inputGroup label {
    font-size: 12px;
  }

  .passwordWrapper {
    margin-bottom: 12px;
  }

  .passwordInput {
    padding-right: 1.5rem;
  }

  .eyeIcon {
    right: 0.2rem;
  }

  .passwordStrength {
    gap: 2px;
  }

  .passwordStrengthCtn {
    flex-direction: column;
    align-items: flex-start;
  }

  .strengthText {
    font-size: 12px;
  }

  .strengthSegment {
    height: 3px;
  }

  .passwordError {
    font-size: 10px;
  }

  .submitButton {
    width: 100%;
    padding: 12px;
    font-size: 15px;
  }
}
