.cont {
    background: #f7faf2 url(https://res.cloudinary.com/do5wu6ikf/image/upload/v1725366167/Am/Amani/Vector_7_bcvplz.svg) no-repeat;
    background-position: bottom;
    background-size: 500px;
    background-blend-mode: multiply;
    margin-top: 52px;
    text-align: center;
    font-family: "Satoshi Variable", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:10px
}

.HeaderBtn{
    text-align: left;
    width: 100%;
}

.cont2{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}


.contMain{
    display: inline-flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-items: center;
    padding: 20px;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid rgb(243, 243, 244);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.contMainGreen{
    display: inline-flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-items: center;
    padding: 20px;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid rgb(243, 243, 244);
    border-radius: 16px;
    border-radius: 16px;
    background: rgb(99, 148, 24);
}

.userNameCtn{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: 85%;
    justify-content: space-between;
}

.ContHeaderText{
    color: rgb(56, 57, 61);
    font-family: Satoshi;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0;
    text-align: center;
}

.ContHeaderTextGreen{
    color: rgb(247, 246, 246);
    font-family: Satoshi;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0;
    text-align: center;
}

.ContHeaderSubText{
    color: rgb(93, 94, 100);
    font-family: Satoshi;
    font-size: 8px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0;
    text-align: center;
    width: 70%;
    margin: 5px auto;
}

.ContHeaderSubTextGreen{
    color: rgb(247, 246, 246);
    font-family: Satoshi;
    font-size: 8px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0;
    text-align: center;
    width: 70%;
    margin: 5px auto;
}


.ContHeader{
    text-align: center;
    margin: 10px auto;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.BtnCtn{
    margin: 10px auto;
}

.error {
    color: rgb(133, 134, 141);
    font-family: Satoshi;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.1px;
    text-align: left;
}

/* Password strength indicator with broken segments */
.passwordStrength {

    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    width: 100%;
}

.passwordStrengthCtn{
    width: 80%;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.strengthSegment {
    height: 4px;
    width: 23%;
    background-color: #e0e0e0;
    border-radius: 3px;
    transition: background-color 0.3s ease-in-out;
}

.UserTypeCtn{
    box-sizing: border-box;
    padding: 15px 5px;
    border: 1px solid rgb(197, 198, 203);
    border-radius: 8px;
    width: 80%;

}

.UserTypeText{
    color: rgb(93, 94, 100);
    font-family: Satoshi;
    font-size: 9px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: -0.06px;
    text-align: left;
    padding: 5px;
    cursor: pointer;
}

.UserTypeText:hover{
    background: rgba(214, 214, 215, 0.6);
}

@media (min-width: 768px) {

    .cont2 {
        display: inline-flex;
        gap: 10px;
        flex-direction: row;
        align-items: flex-start;
    }

    .UserTypeText{
        font-size: 16px;
        padding: 15px;
        margin: 1px;
    }
    .cont {
        margin-top: 80px;
        background-size:  1000px; /* Adjust size as necessary */
    }

    .contMain{
        width: 500px;

    }

    .contMainGreen{
        width: 500px;

    }
    .userNameCtn{
        width: 97%;
    }

    .ContHeader{
        margin: 25px auto;
    }

    .ContHeaderText{
        font-size: 20px;
        line-height: 27px;
    }


    .ContHeaderTextGreen{
        font-size: 20px;
        line-height: 27px;
    }
    .ContHeaderSubText{
        font-size: 11px;
        line-height: 16px;
        width: 46%;
        margin: 5px auto;

    }

    .ContHeaderSubTextGreen{
        font-size: 11px;
        line-height: 16px;
        width: 60%;
        margin: 5px auto;
    }

    .BtnCtn{
        margin: 25px auto;
    }
}

@media (min-width: 1024px) {
    .cont {
        margin-top: 82px;
        background-size:  1200px; /* Adjust size as necessary */
    }

    .ContHeader{
        margin: 30px auto;
    }

    .BtnCtn{
        margin: 30px auto;
    }
}

@media (min-width: 1280px) {
    .cont {
        background-size:  1500px; /* Adjust size as necessary */
    }
}

@media (min-width: 1440px) {
    .cont {
        background-size:  cover; /* Adjust size as necessary */
    }
}