.container{
  margin: 1rem ;
  color: #38393D;
    font-weight: 500;
font-size: 16px;
font-family: 'satoshi', sans-serif;
}

.feed {
  background: #fff;
  border: 1px solid #DCDDDF;
  border-radius: 24px;
   color: #4A4B51;
  /* padding: 2rem; */
  box-shadow: 0px 4px 50px 0px #00000008;
  padding: 1.2rem;
height: 85vh;
overflow: scroll;

}


 h1 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
    color: #1B1B1B;
}




.duration {
  font-size: 0.85rem;
  color: #9A9BA1;
  margin-top: 5px;
  text-align: right;  
}


.unreadMessages {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--armaniGreen);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  margin-top: 5px;  /* Adds some space between the duration and unread message count */
  text-align: center;
}

.feedItem {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #F3F3F4;
  border-radius: 5px;
  position: relative;
  transition: background-color 0.3s;
}

.feedItem:hover {
  background-color: #f9f9f9;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 15px; 
}

.profileImage {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ddd;
}

.user {
  font-weight: 500;

  font-size: 18px;
 
}
.subText{
   font-weight: 400;
 max-width: 100%;
  font-size: 16px; 
}
.remain {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.userDetails{
    display: flex;
   justify-content: space-between;
   width: 100%;
}


.time {
  font-size: 0.85rem;
 color: #9A9BA1;
  margin-top: 5px;
}
.showMoreContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.showMore {
  padding: 10px 20px;
 color: var(--armaniGreen);
 font-size: 1rem;
 font-weight: 500;
  cursor: pointer;
}

.userName,
.subText {
  white-space: nowrap; 
  overflow: hidden;    
  text-overflow: ellipsis; 
}

@media (max-width: 768px) {
 
  .container{
        padding: 0;
    }
  .feed {
    padding: 0rem;
    border: none;
  }

  .header {
    flex-direction: column;
    text-align: center;
  }

  .uploadButton {
    margin-top: 10px;
  }

  .feedItem {
    flex-direction: column;
    padding: 10px;
  }



  .showMoreContainer {
    justify-content: center;
  }

  .showMore {
    font-size: 0.9rem;
    padding: 8px 16px;
  }

  .profileImage {
    width: 40px;
    height: 40px;
  }

 

  .userInfo {
    gap: 10px;
  }


  .userName {
    font-size: 1rem;
   
  }

 .feedItem {
    padding: 10px;
    position: relative; 
  }

  .userInfo {
    gap: 10px;  
   
    align-items: flex-start; 
  }





  .profileImage {
    width: 40px;
    height: 40px;
  }

  
}

@media (max-width: 480px) {
 
.container{
    margin: 0rem;
}
  .feed {
    padding: 0rem;
  }
.feedItem {

    margin: 0px;
    position: relative; 
  }
  

  .showMore {
    padding: 8px 16px;
  }


.subText{
font-size: 12px;
 max-width: calc(100% - 45px);  
}


.userName{
    font-size: 14px;
}
  .property {
    font-size: 1rem;
  }

  .profileImage {
    width: 32px;
    height: 32px;
  }


}