.CardCtn{
    display:inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
}

.ReviewCtn{
    margin: 3% auto;
}

.ReviewText{
    display: none;
    color: rgb(93, 94, 100);
    font-family: Satoshi;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0;
    text-align: center;
    margin: 3% auto;
}

.DetailsText{
    color: rgb(93, 94, 100);
    font-family: Satoshi;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0;
    text-align: left;
}

.DetailsShare{
    cursor: pointer;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    color: rgb(93, 94, 100);
    font-family: Satoshi;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0;
    text-align: left;
}

.DetailsShare:hover{
    color: #639418;

}

.RaatingText{
    color: rgb(93, 94, 100);
    font-family: Satoshi;
    font-size: 32px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0;
    text-align: center;
    margin: 5px auto;
}

.Star1{
    color: #f3c623;
    font-size: 2rem;
    margin-left: 0.5rem;
}

.StarCtn{
    display: none;
}

.ReviewedTextCtn{
    display: none;
}

@media (min-width: 768px) {
    .ReviewText{
        display: none;
        font-size: 16px;
        margin: 5px 0;
        text-align:  center;
    }

    .DetailsText, .DetailsShare{
        font-size: 16px;
        margin: 5px 0;
        text-align: center;

    }


    .RaatingText{
        color: rgb(93, 94, 100);
        font-family: Satoshi;
        font-size: 40px;
        font-weight: 600;
        line-height: 40px;
        letter-spacing: 0;
        text-align: left;
        margin: 5px auto;
    }

}

@media (min-width: 1024px) {
    .ReviewText{
        display: block;
        font-size: 16px;
        margin: 5px 0;
        text-align: left;
    }

    .DetailsText, .DetailsShare{
        font-size: 16px;
        margin: 5px 0;
        text-align: left;

    }
    .StarCtn{
        display: inline-flex;
        flex-direction: column;
        gap: 0;
        align-items: flex-start;
        width: 100%;
    }
    .StarItemCtn{
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        width: 80%;
        gap: 5px;
        justify-content: space-between;
    }

    .StarImg{
        font-size: 18px;
        font-weight: 500;
        margin: 5px 0;
        text-align: left;
        font-family: Satoshi;
        color: rgb(48, 49, 52);
    }

    .StarText{
        font-size: 18px;
        margin: 5px 0;
        text-align: left;
        font-weight: 500;

        font-family: Satoshi;
        color: rgb(93, 94, 100);
    }

    .Star2{
        color: #f3c623;
        font-size: 20px;
        font-weight: 500;
    }

    .ReviewedText{
        font-size: 18px;
        font-weight: 500;
        margin: 5px 0;

        text-align: left;
        font-family: Satoshi;
        color: rgb(93, 94, 100);
    }

    .ReviewedTextCtn{
        display: inline;
    }
}
