.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: white;
  border-bottom: 1px solid #f3f3f4;
}

.searchContainer {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 9999px;
  padding: 0.5rem 1rem;
  max-width: 50%;
}

.searchIcon {
  position: absolute;
  left: 1.8%;
  top: 40%;
  color: #6b7280;

}

.searchInput {
  margin-left: 0.5rem;
  outline: none;
  border: none;
  width: 100%;
  font-size: 1rem;
}

.iconContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 9999px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .searchIcon {
  position: absolute;
  left: 6%;
  top: 40%;
  color: #6b7280;

}

  .searchContainer {
    max-width: 60%;
    margin-right: 1rem;
    padding: 0.2rem 0.8rem;
  }

  .iconContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-grow: 1;
  }

  .icon {
    width: 1.75rem;
    height: 1.75rem;
  }

  .searchIcon {
    width: 0.825rem;
    height: 0.825rem;
  }
}
