
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@layer base {
  @font-face {
    font-family: "satoshi";
    src: url("./assets/fonts/Satoshi-Variable.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }


}

:root {
  --armaniDarkGreen: #172C01; /* Define global color variables */
  --armaniGreen: #639418;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

